@import "tailwindcss";

@theme {
    --font-Libre: "Libre Baskerville";
    --color-black: #000000;
    --color-darkGrey: #7D7D7D;
    --color-lightGray: #E5E5E5;
    --color-almostWhite: #F3F3F3;
    --color-white: #FFFFFF;
}

@layer components {
    .customGrid {
        --grid-rows: [image-start] 228px [workTitle-start] 52px [image-end] 52px [workTitle-end author-start] 50px [description-start] 14px [author-end] auto [description-end];
        --grid-cols: 1fr;
        @media (width >= 48rem){
            --grid-rows: [image-start workTitle-start] 238px [workTitle-end author-start] 128px [author-end] 194px [image-end description-start] auto [description-end];
            --grid-cols: [image-start description-start] 1fr [workTitle-start] 1fr [image-end author-start] 1fr [description-end workTitle-end author-end];
        }
        @media (width >= 80rem) {
            --grid-rows: [image-start workTitle-start description-start] 238px [workTitle-end] 260px [author-start] 64px [image-end description-end] 64px [author-end];
            --grid-cols: [image-start] 425px [workTitle-start] 50px [image-end author-start] 128px [author-end] 270px [workTitle-end description-start] 1fr [description-end]; 
        } 
    }
    .image {
        grid-area: image;
    }
    .workTitle {
        grid-area: workTitle;
    }
    .authorPic {
        grid-area: author;
    }
    .description {
        grid-area: description;
    }
}